<%- include('./partials/header') %>

<h1>About</h1>

<p>Welcome to Fotorol The app that whips the llama's ass</p>

<a href='https://www.youtube.com/watch?v=JfhV_ezOxgA'>Inspiration to us all!</a>

<%- include('./partials/footer') %>